version: "3.9"

x-common-variables: &common-variables
  UNIVERSE: local
  SERVICE_NAME: internet-speed-check

services:
  speedtest-runner:
    container_name: speedtest-runner
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      <<: *common-variables
      S3_BUCKET: atlas
      SLEEP_INTERVAL_MINUTES: 1
    command:
      - python
      - -m
      - main
    volumes:
      - ./main.py:/app/main.py
      - ./cache:/app/cache
