version: "3.9"

services:
  speedtest:
    container_name: speedtest-service
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      SLEEP_SECONDS: 30
    volumes:
      - ./speedtest:/app/speedtest
      - ./results:/app/results
      - ./logs:/app/logs
    command:
      - uv
      - run
      - python
      - -m
      - speedtest.handlers.loop
